/* Purpose Section */

.purpose-section {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 50px;
}

.purpose-title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.purpose-div {
  margin-bottom: 35px;
}

.purpose-subtitles {
  margin-bottom: 10px;
}

.purpose-desc {
  text-align:left;
  font-size: 16px;
  color: rgb(80, 80, 80);
  line-height: 1.5;
  margin-bottom: 10px;
}

.purpose-registration-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.purpose-registration-button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.purpose-registration-blue {
  background-color: rgb(23, 74, 241);
}

.purpose-registration-purple {
  background-color: rgb(175, 0, 146);
}


.purpose-registration-blue:hover {
  background-color: rgb(39, 140, 255);
  transition: background-color 0.3s ease-in-out;
}

.purpose-registration-purple:hover {
  background-color: rgb(240, 23, 204);
  transition: background-color 0.3s ease-in-out;
}

.reg-desc {
  margin-right: 10px;
}


/* Mobile compatibility */

@media screen and (max-width: 1024px) {

  .purpose-section {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 50px;
  }

}