# Files to ignore

/img/MSTP-Fall-Retreat-2023.jpg
/img/slideshow.psd
/img/Brief Bio - Dianna Milewicz 10-2024.docx
#/img/BCM_MSTP_SVG.ai
#/img/social-media-icons.ai

# Folders to ignore
/img/profile-pics/
_site/

.claude/
