<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Website Title -->
  <title>{{ site.title }}</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="{{ '/assets/css/global0.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header0.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/slideshow1.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/section-purpose0.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/section-schedule0.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/section-speakers0.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/section-travel2.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/section-organizers1.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer0.css' | relative_url }}">

</head>
<body>

  {{ content }}

  <!-- Scripts -->
  <script src="{{ '/assets/js/slideshow0.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/navbar0.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/organizers0.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/footer0.js' | relative_url }}"></script>

</body>
</html>